@charset "utf-8";
body{
    max-width: 1080px;
    margin: 80px auto;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important
}
#items td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.6
}
#navigation {
    border-color: #3EAAE8;
    background-color: #3EAAE8;
    color: #FFF;
}
.form-control{
    border: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color: #1684C2;
    color:#FFF;
}
.navbar-default .navbar-nav>li>a{
    color:#FFF;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    background-color: #54b4eb;
    color:#FFF;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
    color:#FFF;
}